ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
}
[aria-expanded='false'] + ul {
  display: none;
}

li {
  position: relative;
}

ul ul {
  position: absolute;
  left: 200px;
  top: 0;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: #ccc;
  height: 32px;
  padding: 0 16px;
  outline: 0;
}

a:hover, a:focus {
  background-color: #ddd;
}
